@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  #no-print {
    display: none;
  }

  #print-area {
    display: block;
  }

  body {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: #ff0000;
  }
}

@page {
  size:auto;
  margin: 0mm;
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}

@layer base {
  * {
    outline: none;
  }

  input,
  textarea,
  select,
  button {
    @apply border border-gray-300 rounded-md;
    outline: none;
  }

  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    @apply ring-2 ring-blue-500 ring-offset-2;
    outline: none;
  }

  body {
    @apply bg-background text-foreground;
  }
}